- limit ||= 3
- expanded ||= false

.block.top{class: expanded && "expanded"}
  %h4 Top songs
  %h4.expanded Get inspired by top songs
  %ul.songs
    - Song.top(limit).each do |song|
      %li.song
        .cover
          = image_tag song.album["images"]["0"]["url"] rescue nil
        .details
          .name
            %span.artist-name= song.artist_name
            %span.dash —
            %span.song-name= song.name
          .album
            = song.album["name"]


