.block.top
  %h4 Top songs
  %ul.songs
    - Song.top.each do |song|
      %li.song
        .cover
          = image_tag song.album["images"]["0"]["url"] rescue nil
        .details
          .name
            = song.artist_name
            —
            = song.name
          .album
            = song.album["name"]


