/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700)
@import variables


html
  height: 100%

body
  font-family: 'Nunito', sans-serif
  background-color: $bg-color
  min-height: 100%
  background-attachment: fixed
  font-weight: lighter
  max-width: 900px
  margin: auto
  position: relative

.scroll-wrapper
  overflow: hidden
  padding-bottom: 71px
  padding-left: 15px
  padding-right: 15px

.inner-scroll-wrapper
  margin: 0

.songs.index
  .loaded
    display: none
  .loading
    display: block

#content
  position: relative
  min-height: 550px
.loading
  opacity: 1
  transition: opacity 0.5s
  position: absolute
  background: white
  top: 0
  left: 0
  width: 100%
  z-index: 100
  &.fade
    opacity: 0

#header
  text-align: center
  font-size: 1em
  color: white
  margin-bottom: 40px
  position: relative
  border-bottom: 1px solid $light-grey
  padding-bottom: 20px
  font-weight: lighter
  a
    color: white
    text-decoration: none
  h1
    margin: 20px 100px 0
    font-weight: lighter
    letter-spacing: 3px
    color: $light-grey
    text-transform: uppercase
    font-size: 1em
    &:hover
      color: $grey

  .credits
    position: absolute
    left: 0
    top: -4px
    color: black

h2
  font-weight: lighter
  margin-top: 0
  margin-bottom: 20px


.logged, .template, .no-results
  display: none

.ion-bt:before
  margin-right: 10px

ul
  padding: 0

li
  list-style-type: none
  padding: 0

.stroke
  text-decoration: line-through

.disclaimer
  margin-top: 1em
  margin-bottom: 1em
  font-size: 1.3em
  .name
    font-size: 1.3em

.results
  margin-top: 20px

  .result, .no-results
    border-bottom: 1px solid #ccc
    background: white
    padding: 10px
    overflow: hidden
    position: relative
    z-index: 10
    padding-right: 70px
    .name
      font-weight: bold
    .btn
      position: absolute
      right: -60px
      top: -20px
      bottom: -20px
      width: 60px
      padding-top: 29px
      border-radius: 0
      text-indent: 1000px
      &:before
        font-size: 2em
        position: absolute
        left: 50%
        top: 50%
        text-indent: 0
        transform: translate(-50%, -50%)


.result, .song
  .fetch-itunes-link
    display: none


.song
  height: 40px
  clear: both
  margin-bottom: 10px
  position: relative
  font-size: 13px
  font-weight: normal
  .cover
    width: 40px
    float: left
    margin-right: 10px
    position: absolute
    left: 0
    top: 0
    img
      width: 100%
  .details
    margin-left: 50px
    margin-right: 70px
    color: $grey
  .name
    color: black
  .album
    font-weight: lighter
  .name, .album
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap


.block
  background: rgba(255,255,255,0.8)

  margin-top: 25px
  transition: background-color 1s
  color: $grey
  .btn
    width: 100%
  &.highlight
    background-color: #B14D54

h4
  display: block
  position: relative
  margin-bottom: 10px
  text-transform: uppercase
  margin-top: 0
  color: black
  font-weight: normal
  letter-spacing: 3px
  font-size: 12px

.share
  .my-link
    background-color: $light-grey
    color: $grey
    padding: 13px 20px
    white-space: nowrap
    text-overflow: ellipsis
    border-radius: 3px
    display: block
    overflow: hidden
    text-decoration: none
    margin-top: 10px
    height: 48px
    font-size: 16px
    &:hover
      background-color: darken($light-grey, 10%)
.fb-share, .fb-login
  background-color: $fb-blue
  padding: 13px 20px 12px 45px
  color: white
  width: 100%
  display: block
  border-radius: 3px
  font-size: 16px
  text-decoration: none
  position: relative
  height: 48px
  &:hover
    background-color: darken($fb-blue, 10%)
    color: white
    text-decoration: none
  .ion
    color: $fb-blue
    display: inline-block
    position: absolute
    z-index: 10
    top: 18px
    left: 22px
    &:after
      z-index: -1
      content: ""
      background: white
      width: 17px
      height: 16px
      left: -5px
      bottom: 3px
      position: absolute
.right
  h3
    color: white
    margin-top: 0

#songs
  margin-top: 25px
  overflow: hidden
  counter-reset: songs
  h4
    margin-bottom: 0
  ol
    padding-left: 40px
  &.edit
    .song
      cursor: ns-resize
  .song
    list-style-type: none
    color: black
    overflow: hidden
    margin: 0
    height: 80px

    transition: transform 1s, background-color 0.2s
    transform: translateY(0%)
    z-index: 10
    position: relative
    border-bottom: 1px solid $light-grey
    padding-bottom: 20px
    padding-top: 20px
    overflow: visible

    .cover
      top: 20px

    &:hover
      background-color: lighten($light-grey, 5%)
      &:not(.template):not(.no-songs):before
        background-color: lighten($light-grey, 5%)

    &:not(.template):not(.no-songs):before
      transition: background-color 0.2s
      counter-increment: songs
      content: counter(songs)
      position: absolute
      color: black
      left: -40px
      font-size: 16px
      text-align: center
      width: 40px
      height: 100%
      top: 0
      padding-top: 22px

    .actions
      position: absolute
      right: 10px
      top: 22px

    &.no-songs
      cursor: initial
      a
        cursor: pointer
    img
      width: 100%
    .badges
      background: transparent
      padding: 3px
      height: 46px
      img
        height: 40px
        width: auto

    .delete
      color: $color-red
      width: 27px
      height: 27px
      line-height: 1em
      display: block
      overflow: hidden
      font-size: 2em
      opacity: 0
      transition: opacity 0.3s

    &.hidden
      transform: translateY(-100%)
      display: block !important

    &.behind
      z-index: 5

    &:hover
      .delete
        opacity: 1

  .ui-state-highlight
    height: 80px
    border: 1px dashed #ccc
    background-color: $light-grey

#new_song
  margin-bottom: 20px
  form .input-group
    border: 2px solid black

  input[type=text]
    height: 48px
    outline: none !important
    border: none !important
    box-shadow: none !important
  .input-group-addon
    background-color: transparent
    border: none
    color: $grey
    padding: 0 20px
    .ion
      font-size: 2em
      color: $grey
  .input-group-addon input
    border: none
    background: none
    outline: none
    box-shadow: none
    margin-top: 4px
  p
    font-weight: bold
    text-transform: uppercase

footer
  padding: 10px 0
  margin: 0 15px
  color: $light-grey
  a
    color: $light-grey
  border-top: 1px solid $light-grey
  overflow: hidden
  z-index: 15
  text-align: center
  text-transform: uppercase
  padding-top: 20px
  padding-bottom: 30px
  position: absolute
  bottom: 0
  left: 0
  right: 0
  background: url(/assets/skull-emoji.png)
  background-position: 5% 20px
  background-repeat: no-repeat
  font-weight: lighter


.only-desktop
  display: block
.only-mobile
  display: none

@media (max-width: 500px)
  #content
    min-height: 350px

  #header
    .credits
      margin-top: 10px
      span
        display: block
        font-size: 9px
        &.dash
          display: none
  h2
    margin-top: 40px
  h4
    text-align: center
  .only-desktop
    display: none
  .only-mobile
    display: block
    &.input-group-addon
      display: table-cell
  #songs .song
    position: relative
    img
      width: 100%
      height: auto
      margin-bottom: 20px
    .col-md-1
      position: initial
    .delete
      opacity: 1
      position: absolute
      top: 2px
      right: 4px
      font-size: 3em
      width: 37px
      height: 40px
