/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-red: #B11D2A
$bg-color: #86B091

#header
  text-align: center
  font-size: 1.2em
  img
    width: 250px
  .death
    color: $color-red

.unlogged
  margin-top: 20px
  text-align: center

.logged, .template, .no-results
  display: none

.ion-bt:before
  margin-right: 10px

body
  font-family: Helvetica, Arial, Sans-serif
  background-color: $bg-color

.scroll-wrapper
  max-width: 640px
  margin: auto
  padding-bottom: 200px
  padding-left: 20px
  padding-right: 20px

ul
  padding: 0

li
  list-style-type: none
  padding: 0

.stroke
  text-decoration: line-through

.disclaimer
  margin-top: 1em
  margin-bottom: 1em
  font-size: 1.3em
  .name
    font-size: 1.3em

.results
  margin-top: 20px

.result, .no-results
  border-bottom: 1px solid #ccc
  background: white
  padding: 10px
  overflow: hidden
  position: relative
  z-index: 10
  padding-right: 103px
  .btn
    position: absolute
    right: -93px
    top: -20px
    bottom: -20px
    width: 83px
    padding-top: 29px
    border-radius: 0
    text-indent: 1000px
    &:before
      font-size: 3em
      position: absolute
      left: 50%
      top: 50%
      text-indent: 0
      transform: translate(-50%, -50%)


.result, .song
  .name
    font-size: 1.2em
    font-weight: bold

  .fetch-itunes-link
    display: none

.share
  background: white
  padding: 20px
  margin-top: 20px

#songs
  overflow: hidden
  .song
    background: black
    color: white
    padding: 20px
    overflow: hidden
    margin-top: 1px
    cursor: ns-resize
    transition: transform 1s
    transform: translateY(0%)
    z-index: 10
    position: relative
    border: 1px solid $bg-color
    img
      height: 120px
    .badges
      background: white
      padding: 3px
      height: 46px
      img
        height: 40px

    .delete
      color: $color-red
      width: 27px
      height: 27px
      line-height: 1em
      display: block
      overflow: hidden
      font-size: 2em
      opacity: 0
      transition: opacity 0.3s

    &.hidden
      transform: translateY(-100%)
      display: block !important

    &.behind
      z-index: 5

    &:hover
      .delete
        opacity: 1

  .ui-state-highlight
    margin-top: 1px
    width: 600px
    height: 160px
    border: 1px dashed #ccc
    background-color: rgba(255,255,255,0.3)

#new_song
  border: 1px solid white
  padding: 20px
  margin-top: 20px
  background-color: #A1D4AE
  input[type=text]
    height: 48px
    outline: none
  .input-group-addon input
    border: none
    background: none
    outline: none
    box-shadow: none
  p
    font-weight: bold
    text-transform: uppercase
