@import variables

@keyframes shake
  0%, 100%
    transform: rotate(deg)
  25%
    transform: rotate(-2deg)
  75%
    transform: rotate(2deg)

.unlogged
  text-align: center
  .logo
    margin: auto
    width: 300px
    height: 300px
    background: transparent
    border: none
    .dot
      display: none
    .disk-container
      .disk, .avatar-skull
        transition: transform 0.2s
        transform: rotate(0deg)
    &.play
      .disk-container
        .disk
          animation-duration: 2s
          animation-iteration-count: infinite
          animation-name: shake
          animation-fill-mode: forwards
        .avatar-skull
          animation-name: spinDisk
          animation-duration: 2s
          animation-iteration-count: infinite
          animation-timing-function: linear
          animation-fill-mode: forwards
  .explain
    font-size: 2em
    color: black
    margin-bottom: 20px
    margin-top: 20px
    text-align: center

  .fb-login
    width: 250px
    display: inline-block
    position: relative
    text-align: center
    margin-bottom: 20px
  .why
    color: $grey
    position: relative
    cursor: pointer
    height: 30px
    .reason
      display: none
      margin-top: 10px
      padding: 10px
      border: 1px solid $light-grey
    &:hover
      .reason
        text-decoration: none
        display: block
    &:after
      content: ""
      position: absolute
      left: 50%
      width: 200px
      margin-left: -100px
      top: 30px
      background: $light-grey
      height: 1px

@media (max-width: 680px)
  .unlogged .top
    .songs
      padding: 0

@media (max-width: 500px)
  .unlogged .top
    .songs
      border: none
      .song
        border: 1px solid black
        background: black
        &:after
          display: none
        width: 50%
        height: auto
        margin: 0
        .cover, img
          width: 100%
          height: auto
          border: 1px solid black
        .details
          transform: none
          left: 0
          top: 50%
          padding: 10px
          right: 0
          width: auto
          font-size: 14px
          .song-name
            font-size: 16px

